<div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Final Project - Introduction to Data Science
    <div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
    @ FIT-HCMUS, VNU-HCM ðŸ“Œ
</div>

<div style="text-align: center; background-color: #b1d1ff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Stage 4.0 - Data modelling
</div>

## Import

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.preprocessing import LabelEncoder

## Data preparation

In [8]:
movie_df = pd.read_csv('./../data/processed.csv')
movie_df

,Name,Released year,Genre,Director,Runtime (h),Score,Status,Language,Budget ($),Revenue ($)
0,Fast X,2023,"'Action', 'Crime', 'Thriller'",Dan Mazeau,2.37,72.0,Released,English,340000000.0,704709660.0
1,Trolls Band Together,2023,"'Animation', 'Family', 'Music', 'Fantasy', 'Co...",Thomas Dam,1.53,72.0,Released,English,95000000.0,173800000.0
2,Robot Apocalypse,2021,"'Science Fiction', 'Action'",Marcus Friedlander,1.45,21.0,Released,English,NaN,NaN
3,Five Nights at Freddy's,2023,"'Horror', 'Mystery'",Emma Tammi,1.83,78.0,Released,English,20000000.0,286700000.0
4,Oppenheimer,2023,"'Drama', 'History'",Christopher Nolan,3.02,81.0,Released,English,100000000.0,951000000.0
...,...,...,...,...,...,...,...,...,...,...
4995,Secret in Their Eyes,2015,"'Thriller', 'Mystery', 'Drama', 'Crime'",Billy Ray,1.85,64.0,Released,English,19500000.0,34854990.0
4996,The Vatican Tapes,2015,"'Thriller', 'Horror'",Mark Neveldine,1.52,53.0,Released,English,13000000.0,1784763.0
4997,Song to Song,2017,"'Romance', 'Drama', 'Music'",Terrence Malick,2.15,55.0,Released,English,10000000.0,1710528.0
4998,Divine Intervention,2023,'Comedy',Pedro Pablo Ibarra,1.67,82.0,Released,Spanish; Castilian,NaN,NaN
4999,Armour of God,1986,"'Adventure', 'Action', 'Comedy'",Jackie Chan,1.63,70.0,Released,Cantonese,15000000.0,NaN

## Feature engineering

In [34]:
df = movie_df[['Genre', 'Runtime (h)', 'Score', 'Language', 'Budget ($)', 'Revenue ($)']].dropna()

one_hot_df = pd.DataFrame()
def splitGenre(s):
    return s.split(', ')
genre_stack = df['Genre'].apply(splitGenre).agg(pd.Series).stack().agg(pd.Series).stack()
genre_dummy = pd.get_dummies(genre_stack).groupby(level = 0).sum()
genre_dummy.columns = ['Genre_' + col.replace("'", "") for col in genre_dummy.columns]
df = pd.concat([genre_dummy, df], axis = 1)

label_encoder=LabelEncoder()
df['Language_encoded'] = label_encoder.fit_transform(df['Language'])

df = df.drop(['Genre', 'Language'], axis=1)

df

,Genre_Action,Genre_Adventure,Genre_Animation,Genre_Comedy,Genre_Crime,Genre_Drama,Genre_Family,Genre_Fantasy,Genre_History,Genre_Horror,...,Genre_Science Fiction,Genre_TV Movie,Genre_Thriller,Genre_War,Genre_Western,Runtime (h),Score,Budget ($),Revenue ($),Language_encoded
0,1,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,2.37,72.0,340000000.0,704709660.0,5
1,0,0,1,1,0,0,1,1,0,0,...,0,0,0,0,0,1.53,72.0,95000000.0,173800000.0,5
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1.83,78.0,20000000.0,286700000.0,5
4,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,3.02,81.0,100000000.0,951000000.0,5
7,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1.80,65.0,40000000.0,8000000.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4990,1,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1.62,56.0,9000000.0,146863.0,5
4992,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1.85,67.0,23000000.0,19652638.0,5
4995,0,0,0,0,1,1,0,0,0,0,...,0,0,1,0,0,1.85,64.0,19500000.0,34854990.0,5
4996,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,1.52,53.0,13000000.0,1784763.0,5
4997,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,2.15,55.0,10000000.0,1710528.0,5

## Training model

In [ ]:
# YOUR CODE HERE (OPTION)

## Evaluation

In [ ]:
# YOUR CODE HERE (OPTION)

## Prediction

In [ ]:
# YOUR CODE HERE (OPTION)

## Results analysis

In [ ]:
# YOUR CODE HERE (OPTION)

## Conclusion

**Your conclusion**