<div style="text-align: center; background-color: #559cff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Lab 02 - Introduction To Data Science @ FIT-HCMUS, VNU-HCM 📌
</div>

<div style="text-align: center; background-color: #b1d1ff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Stage 02 - Preprocessing
</div>

## Import

In [1]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import numpy as np
import pandas as pd

!pwd

# YOUR CODE HERE (OPTION) 
# If you need other libraries, you can import them here
import matplotlib.pyplot as plt

/home/fabydinhbao/jpt_src/NMKDL/Lab02-Student/notebooks

## Exploring your data

### Read raw data from file (0.25 points)

In [2]:
# YOUR CODE HERE
raw_df = None
#raise NotImplementedError()
raw_df=pd.read_csv('./../data/raw/21120201_europe.csv')

In [3]:
# TEST
raw_df.head()

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),...,Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Male life expectancy,Female life expectancy,"School enrollment, primary","School enrollment, tertiary",Primary completion rate,Literacy rate,Year,Country
0,2775634.0,1391085.0,1384548.0,NaN,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,95.606712,62.731991,97.748993,99.5,2022,Albania
1,2811666.0,1407212.0,1404454.0,10.240,11.325,9.0,21.56278,34.61804,39.18639,17.45920,...,NaN,NaN,74.087,79.173,97.604950,60.317581,98.223259,NaN,2021,Albania
2,2837849.0,1418585.0,1419264.0,10.285,10.785,9.0,20.78154,35.54197,40.16925,16.81283,...,44.58,NaN,74.632,79.676,100.613602,61.392578,99.468590,NaN,2020,Albania
3,2854191.0,1425364.0,1428828.0,10.343,8.480,9.0,20.15067,36.41685,41.60022,16.20390,...,40.11,NaN,77.168,81.666,104.310257,62.076092,101.720718,NaN,2019,Albania
4,2866376.0,1430495.0,1435881.0,10.517,8.308,9.0,19.74566,37.28573,42.27174,15.57318,...,37.83,NaN,77.037,81.608,107.403679,56.608871,105.708557,NaN,2018,Albania

### How many rows and how many columns does the raw data have? (0.25 points)

Next, you calculate the number of rows and columns of the DataFrame `raw_df` and store it in the variable `shape` (tuple). **If your data has the number of rows smaller than 1000, please crawl the data once again with larger year interval**.

In [4]:
# YOUR CODE HERE
shape = None 
#raise NotImplementedError()
shape=(len(raw_df.axes[0]),len(raw_df.axes[1]))

In [5]:
# TEST
print(f"Current shape: {shape}")

if shape[0] > 1000:
    print(f"Your data good!.")
else:
    print(f"Your raw data absolutely small. Please choose larger year interval.!")

Current shape: (1120, 26)
Your data good!.

### What does each line mean? Does it matter if the lines have different meanings?

**TODO**: Give your obervation here

> Mỗi dòng của dữ liệu thô biểu thị thông tin về tổng dân số, dân số theo giới tính, tỷ lệ sinh tử, thời hạn giáo dục bắt buộc, tỷ lệ dân số có việc làm theo giới tính và tỷ lệ thất nghiệp, GDP, thu nhập quốc dân, thu nhập ròng, mức tiêu thụ tài nguyên điện và nhiên liệu, tuổi thọ theo giới tính, tỷ lệ tuyển sinh tiểu học, tỷ lệ tuyển sinh cấp 3, tỷ lệ hoàn thành giáo dục tiểu học, tỷ lệ dân số biết chữ của một quốc gia ở châu Âu trong một năm nào đó.
>
> Mỗi dòng dữ liệu đều có ý nghĩa giống nhau theo các cột tương ứng, biểu thị ý nghĩa của trường dữ liệu đó. Các trường dữ liệu trong cùng một cột có thể khác nhau. Nếu các dòng dữ liệu có ý nghĩa khác nhau về các cột dữ liệu tương ứng thì các dòng dữ liệu đó sẽ cần phải chỉnh sửa sắp xếp lại thành các thuộc tính chung để tạo thành một bảng dữ liệu thống nhất.

### Does the raw data have duplicate rows? (0.25 points)

Next, you calculate the number of rows with duplicate indexes and store it in the variable `num_duplicated_rows`. In a group of lines with the same index, the first line is not counted as repeated.

In [6]:
# YOUR CODE HERE
num_duplicated_rows = None
#raise NotImplementedError()
num_duplicated_rows=len(raw_df)-len(raw_df.drop_duplicates())

In [7]:
# TEST
if num_duplicated_rows == 0:
    print(f"Your raw data have no duplicated line.!")
else:
    if num_duplicated_rows > 1:
        ext = "lines"
    else:
        ext = "line"
    print(f"Your raw data have {num_duplicated_rows} duplicated " + ext + ". Please de-deduplicate your raw data.!")

Your raw data have no duplicated line.!

In [8]:
# De-deduplicate your raw data
# YOUR CODE HERE (Optional)
raw_df=raw_df.drop_duplicates()

### What does each column mean? (0.25đ)

To see the meaning of each column:
- First, you need to read the file "assignment_schema.csv" into DataFrame `col_meaning_df`; you also need to make the "Query API" column an index column.
- Then, you just need to display the DataFrame `col_meaning_df` for viewing. You can use `pd.set_option` to customize the table width so that strings that are too long are not truncated.

In [9]:
# YOUR CODE HERE
col_meaning_df = None
#raise NotImplementedError()
col_meaning_df=pd.read_csv('./../data/external/assignment_schema.csv')

In [10]:
# TEST
col_meaning_df

               Query API                                     Meaning
0            SP.POP.TOTL                            Total Population
1      SP.POP.TOTL.FE.IN                           Female Population
2      SP.POP.TOTL.MA.IN                             Male Population
3         SP.DYN.CBRT.IN                                  Birth Rate
4         SP.DYN.CDRT.IN                                  Death Rate
5            SE.COM.DURS                    Compulsory Education Dur
6         SL.IND.EMPL.ZS                   Employment in Industry(%)
7         SL.AGR.EMPL.ZS                Employment in Agriculture(%)
8      SL.AGR.EMPL.FE.ZS         Female Employment in Agriculture(%)
9      SL.IND.EMPL.FE.ZS            Female Employment in Industry(%)
10        SL.UEM.TOTL.ZS                             Unemployment(%)
11        NY.GDP.MKTP.CD                                  GDP in USD
12  NY.ADJ.NNTY.PC.KD.ZG                  National Income per Capita
13        NY.GSR.NFCY.CD                      Net income from Abroad
14        NV.AGR.TOTL.CD             Agriculture value added(in USD)
15     EG.USE.ELEC.KH.PC  Electric Power Consumption(kWH per capita)
16        EG.FEC.RNEW.ZS            Renewable Energy Consumption (%)
17     EG.USE.COMM.FO.ZS                 Fossil Fuel Consumption (%)
18     SP.DYN.LE00.MA.IN                        Male life expectancy
19     SP.DYN.LE00.FE.IN                      Female life expectancy
20           SE.PRM.ENRR                School enrollment in primary
21           SE.TER.ENRR               School enrollment in tertiary
22         E.PRM.CMPT.ZS                     Primary completion rate
23     SE.ADT.1524.LT.ZS                               Literacy rate

Before moving forward, you should read the results displayed above and make sure you understand the meaning of the columns. To understand the meaning of the column, you may need to look at the values of the DataFrame side column `raw_df`.

### What data type does each column currently have? Are there any columns whose data types are not suitable for further processing? (0.25 points)

Next, you calculate the data type (dtype) of each column in DataFrame `raw_df` and save the result into Series `dtypes` (This Series has the index as the column name).

In [11]:
# YOUR CODE HERE
dtypes = None
#raise NotImplementedError()
dtypes={}
for col_name in raw_df.columns:
    dtypes[col_name]=raw_df.dtypes[col_name].name

In [12]:
# TEST
dtypes

{'Total Population': 'float64',
 'Female Population': 'float64',
 'Male Population': 'float64',
 'Birth Rate': 'float64',
 'Death Rate': 'float64',
 'Compulsory Education Dur.': 'float64',
 'Employment in Industry(%)': 'float64',
 'Employment in Agriculture(%)': 'float64',
 'Female Employment in Agriculture(%)': 'float64',
 'Female Employment in Industry(%)': 'float64',
 'Unemployment(%)': 'float64',
 'GDP in USD': 'float64',
 'National Income per Capita': 'float64',
 'Net income from Abroad': 'float64',
 'Agriculture value added(in USD)': 'float64',
 'Electric Power Consumption(kWH per capita)': 'float64',
 'Renewable Energy Consumption (%)': 'float64',
 'Fossil Fuel Consumption (%)': 'float64',
 'Male life expectancy': 'float64',
 'Female life expectancy ': 'float64',
 'School enrollment, primary': 'float64',
 'School enrollment, tertiary': 'float64',
 'Primary completion rate': 'float64',
 'Literacy rate': 'float64',
 'Year': 'int64',
 'Country': 'object'}

We observe that the column `Year` has numeric type. However, its magnitude does not have a significance. And, it actually represents a period instead of a number. Thus, it can be convert to categorical type.

In [13]:
# YOUR CODE HERE
#raise NotImplementedError()
raw_df['Year']=raw_df['Year'].astype('category')

In [14]:
# TEST
dtypes = raw_df.dtypes
float_cols = set(dtypes[(dtypes==np.float32) | (dtypes==np.float64)].index)
assert len(float_cols) == 24
cate_cols, object_cols = set(dtypes[dtypes == pd.Categorical].index), set(dtypes[dtypes == object].index)
assert (len(cate_cols) == 1 and len(object_cols) == 1)

### For each column with numeric data type, how are the values distributed? (1đ)

For columns with numeric data types, you will calculate:
- Percentage (from 0 to 100) of missing values
- The min
- The lower quartile (phân vị 25)
- The median (phân vị 50)
- The upper quartile (phân vị 75)
- The max

You will save the results to a DataFrame `num_col_info_df`, where:
- The names of the columns are the names of the numeric columns in `raw_df`
- Names of rows: "missing_ratio", "min", "lower_quartile", "median", "upper_quartile", "max"  

For ease of viewing, you round all values to 1 decimal place using the `.round(1)` method.

In [15]:
# YOUR CODE HERE
num_col_info_df = None

#raise NotImplementedError()
num_col_info_df={}
for col_name in raw_df:
    if raw_df[col_name].dtypes==np.float64 or raw_df[col_name].dtypes==np.float32:
        num_col_info_df[col_name]=raw_df[col_name]
        
num_col_info_df=pd.DataFrame.from_dict(num_col_info_df)

# missing_ratio=raw_df.isnull().sum()*100
# lower_quartile=raw_df.quantile([.25]).values[0]
# median=raw_df.quantile([.5]).values[0]
# upper_quartile=raw_df.quantile([.75]).values[0]

def missing_ratio(series):
    count=0
    for i in range(len(series)):
        if series.isnull()[i]:
            count+=1
    return count/len(series)
def lower_quartile(series):
    return np.round(series.quantile([.25]).values[0],1)
def median(series):
    return np.round(series.quantile([.5]).values[0],1)
def upper_quartile(series):
    return np.round(series.quantile([.75]).values[0],1)

num_col_info_df = num_col_info_df.agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])

In [16]:
# YOUR CODE HERE (Optional)
# You can use Matplotlib to visualize this table for more intuitive

In [17]:
# TEST
assert num_col_info_df["Total Population"]["missing_ratio"] == 0

In [18]:
dict(num_col_info_df.iloc[0])

{'Total Population': 0.0,
 'Female Population': 0.0,
 'Male Population': 0.0,
 'Birth Rate': 0.06428571428571428,
 'Death Rate': 0.06428571428571428,
 'Compulsory Education Dur.': 0.1455357142857143,
 'Employment in Industry(%)': 0.15625,
 'Employment in Agriculture(%)': 0.15625,
 'Female Employment in Agriculture(%)': 0.15625,
 'Female Employment in Industry(%)': 0.15625,
 'Unemployment(%)': 0.12589285714285714,
 'GDP in USD': 0.03482142857142857,
 'National Income per Capita': 0.26160714285714287,
 'Net income from Abroad': 0.16607142857142856,
 'Agriculture value added(in USD)': 0.09375,
 'Electric Power Consumption(kWH per capita)': 0.35714285714285715,
 'Renewable Energy Consumption (%)': 0.11607142857142858,
 'Fossil Fuel Consumption (%)': 0.3419642857142857,
 'Male life expectancy': 0.08392857142857142,
 'Female life expectancy ': 0.08392857142857142,
 'School enrollment, primary': 0.14375,
 'School enrollment, tertiary': 0.19464285714285715,
 'Primary completion rate': 0.35,
 'Literacy rate': 0.9392857142857143}

After identifying the basic statistical numbers that describe your data, we further need to determine the features that have a large number of missing values. Such features are not useful for the analysis stage and must be removed from the dataset.

Depending on your goals, the threshold for "large" can be defined. Usually, if the percentage of missing values is greater than 75%, the column is dropped from the dataframe and an updated dataframe is returned.

In [19]:
def drop_missing_features(df: pd.DataFrame, missing_lst: dict = dict(num_col_info_df.iloc[0]), threshold: float = 75.0) -> pd.DataFrame:
    """Drop missing features from Pandas dataframe base on given threshold.

    Args:
        df (pd.DataFrame): Input dataframe for processing.
        missing_lst (dict, optional): Dict missing value rate which calculated from previous stage. Defaults to dict(num_col_info_df.iloc[0]).
        threshold (float, optional): User threshold for dropping. Defaults to 75.0.

    Returns:
        pd.DataFrame: Updated dataframe
    """
    # YOUR CODE HERE
    #raise NotImplementedError()
    for col_name in missing_lst:
        if missing_lst[col_name]*100>threshold:
            df=df.drop(columns=[col_name])    
    return df

In [20]:
# YOUR CODE HERE
#raise NotImplementedError()
raw_df=drop_missing_features(df=raw_df)

In [21]:
# TEST
raw_df.head()

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),...,Electric Power Consumption(kWH per capita),Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Male life expectancy,Female life expectancy,"School enrollment, primary","School enrollment, tertiary",Primary completion rate,Year,Country
0,2775634.0,1391085.0,1384548.0,NaN,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,95.606712,62.731991,97.748993,2022,Albania
1,2811666.0,1407212.0,1404454.0,10.240,11.325,9.0,21.56278,34.61804,39.18639,17.45920,...,NaN,NaN,NaN,74.087,79.173,97.604950,60.317581,98.223259,2021,Albania
2,2837849.0,1418585.0,1419264.0,10.285,10.785,9.0,20.78154,35.54197,40.16925,16.81283,...,NaN,44.58,NaN,74.632,79.676,100.613602,61.392578,99.468590,2020,Albania
3,2854191.0,1425364.0,1428828.0,10.343,8.480,9.0,20.15067,36.41685,41.60022,16.20390,...,NaN,40.11,NaN,77.168,81.666,104.310257,62.076092,101.720718,2019,Albania
4,2866376.0,1430495.0,1435881.0,10.517,8.308,9.0,19.74566,37.28573,42.27174,15.57318,...,NaN,37.83,NaN,77.037,81.608,107.403679,56.608871,105.708557,2018,Albania

After remove features which have large missing values, our dataframe still have missing values. So that, we need to fill these missing values so that they can be used in analysis.

In [22]:
def filling_missing_value(df: pd.DataFrame) -> pd.DataFrame:
    """Filling missing features from Pandas dataframe
    
    The first, you need to replace all None values with NaN, fillna only works on nans.
    
    After that, you replace all NaN values with the mean of the column values.

    Args:
        df (pd.DataFrame): Input dataframe for processing.

    Returns:
        pd.DataFrame: Updated dataframe
    """
    # YOUR CODE HERE
    #raise NotImplementedError()
    df.replace(to_replace=[None], value=np.nan, inplace=True)

    for col_name in df:
        if df[col_name].dtypes==np.float64 or df[col_name].dtypes==np.float32:
            df[col_name]=df[col_name].fillna(df[col_name].mean())
    
    return df

In [23]:
# YOUR CODE HERE
#raise NotImplementedError()
raw_df=filling_missing_value(raw_df)

In [24]:
# TEST
raw_df.head()

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),...,Electric Power Consumption(kWH per capita),Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Male life expectancy,Female life expectancy,"School enrollment, primary","School enrollment, tertiary",Primary completion rate,Year,Country
0,2775634.0,1391085.0,1384548.0,10.813117,10.096538,9.0,26.361868,9.386339,8.456056,15.410524,...,7131.404452,19.002727,73.712777,74.398198,80.747814,95.606712,62.731991,97.748993,2022,Albania
1,2811666.0,1407212.0,1404454.0,10.240000,11.325000,9.0,21.562780,34.618040,39.186390,17.459200,...,7131.404452,19.002727,73.712777,74.087000,79.173000,97.604950,60.317581,98.223259,2021,Albania
2,2837849.0,1418585.0,1419264.0,10.285000,10.785000,9.0,20.781540,35.541970,40.169250,16.812830,...,7131.404452,44.580000,73.712777,74.632000,79.676000,100.613602,61.392578,99.468590,2020,Albania
3,2854191.0,1425364.0,1428828.0,10.343000,8.480000,9.0,20.150670,36.416850,41.600220,16.203900,...,7131.404452,40.110000,73.712777,77.168000,81.666000,104.310257,62.076092,101.720718,2019,Albania
4,2866376.0,1430495.0,1435881.0,10.517000,8.308000,9.0,19.745660,37.285730,42.271740,15.573180,...,7131.404452,37.830000,73.712777,77.037000,81.608000,107.403679,56.608871,105.708557,2018,Albania

In [25]:
# TEST
#raise NotImplementedError() # If you already implement needed functions, please comment this line.
raw_df.select_dtypes(exclude=['object','category']).agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])

,Total Population,Female Population,Male Population,Birth Rate,Death Rate,Compulsory Education Dur.,Employment in Industry(%),Employment in Agriculture(%),Female Employment in Agriculture(%),Female Employment in Industry(%),...,Net income from Abroad,Agriculture value added(in USD),Electric Power Consumption(kWH per capita),Renewable Energy Consumption (%),Fossil Fuel Consumption (%),Male life expectancy,Female life expectancy,"School enrollment, primary","School enrollment, tertiary",Primary completion rate
missing_ratio,0.0,0.0,0.0,0.0,0.000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000,0.00,0.000000,0.00,0.000,0.000000,0.000000,0.000000
min,24886.0,12779.0,12107.0,5.9,5.549,8.0,9.394252,0.681637,0.355335,3.400538,...,-1.215886e+11,2.000451e+05,663.783995,0.00,10.254953,60.04,67.842,79.989571,7.483570,70.417259
lower_quartile,2019648.2,1025421.0,993957.2,9.5,8.500,9.0,22.300000,3.600000,2.000000,10.600000,...,-2.045932e+09,1.082436e+09,4629.300000,6.80,73.200000,72.00,78.900,99.400000,49.400000,98.200000
median,5376421.5,2743866.5,2625597.5,10.7,9.800,10.0,26.400000,7.000000,4.800000,15.400000,...,-4.830723e+07,3.873084e+09,7131.400000,17.30,73.700000,74.80,80.900,102.000000,58.900000,98.300000
upper_quartile,10530295.8,5424498.8,5169164.2,11.7,11.100,11.0,30.400000,10.300000,8.900000,18.600000,...,1.472807e+08,7.294217e+09,7131.400000,24.70,83.600000,78.10,83.200,103.400000,69.800000,99.500000
max,84079811.0,42593197.0,41486614.0,25.0,21.700,13.0,43.132850,53.234490,64.889360,34.661940,...,1.510927e+11,5.022726e+10,54799.174708,82.79,100.000000,82.60,86.700,151.889877,150.201767,131.990005

### For each column with a non-numeric data type, how are the values distributed?(1đ)

For columns with non-numeric data types, you calculate:
- Percentage (from 0 to 100) of missing values
- Number of values (the values here are different values and we do not consider missing values): with columns whose type is categorical, it is a set with a finite number of categories. Directly counting the number of values in these columns doesn't make much sense, so it's better to count the number of elements of all types. (Số lượng các giá trị (các giá trị ở đây là các giá trị khác nhau và ta không xét giá trị thiếu): với cột mà có kiểu là categorical, nó là một tập hợp có số lượng hữu hạn các loại. Việc đếm trực tiếp số lượng các giá trị trong những cột này không có nhiều ý nghĩa, nên tốt hơn hết là mà sẽ đếm số lượng phần tử các loại.)
- The percentage (from 0 to 100) of each value is sorted by decreasing percentage (we do not consider missing values, the ratio is the ratio compared to the number of non-missing values): you use a dictionary to store , key is the value, value is the percentage; With the column corresponding to each type, the method is similar to above.

You will save the results to DataFrame `cat_col_info_df`, where:
- The names of the columns are the names of the non-numeric columns in `raw_df`
- The names of the lines are: "missing_ratio", "num_values", "value_ratios"

For ease of viewing, you round all values to 1 decimal place using the `.round(1)` method.

Hint: you might want to use it [`explode` method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.explode.html).

In [37]:
pd.set_option('display.max_colwidth', 100) # For clearly
pd.set_option('display.max_columns', None) # For clearly
pd.Series([1019,2019,2019,None,np.nan]).value_counts()[2019]/4
raw_df['Year'].dtypes=='category'
list(raw_df['Year'].value_counts().keys())
type(raw_df['Year'])==pd.core.series.Series

True

In [45]:
# YOUR CODE HERE
cat_col_info_df = raw_df.select_dtypes(include=['object','category'])

#raise NotImplementedError()
def num_values(series):
#     if type(series)!=pd.core.series.Series:
#         return
#     if series.dtypes=='category':
#         res={}
#         for item in list(series.value_counts().keys):
#             res[str(item)]=series.value_counts()[item]
#         return res
#     count=0
#     for i in range(len(series)):
#         if series.isnull()[i]==False:
#             count+=1
#     return count
    count=0
    for i in range(len(series)):
        if series.isnull()[i]:
            count+=1
    return count/len(series)

def value_ratios(series):
#     if type(series)!=pd.core.series.Series:
#         return
#     count=0
#     for i in range(len(series)):
#         if series.isnull()[i]==False:
#             count+=1
#     res={}
#     for item in list(series.value_counts().keys):
#         res[str(item)]=series.value_counts()[item]/count
#     return res
    count=0
    for i in range(len(series)):
        if series.isnull()[i]:
            count+=1
    return 

cat_col_info_df = cat_col_info_df.agg([missing_ratio, num_values, value_ratios])
cat_col_info_df

                    Year    Country
missing_ratio        0.0        0.0
num_values           0.0        0.0
value_ratios   [1, 2, 3]  [1, 2, 3]

In [ ]:
d = {'col1': ['kj', 2], 'col2': [3, 4]}
dtfr = pd.DataFrame(data=d)
dtfr['col1'].isnull()[0]

In [ ]:
# YOUR CODE HERE (Optional)
# You can use Matplotlib to visualize this table for more intuitive

### Is the collected data reasonable? (0.5 points)

Chúng ta có một thắc mắc liệu rằng số liệu thu thập được có hợp lý hay không? Ví dụ như `Total Population` có bằng tổng của `Female Population` và `Male Population`?

In [ ]:
def checking_population(df: pd.DataFrame) -> bool:
    """Checking for the reasonable of population information.

    Args:
        df (pd.DataFrame): _description_

    Returns:
        bool: _description_
    """
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
# TEST
checking_population(raw_df) == True

If the test result is false, we want to see how large with this different? If it is true, please skip this step.

In [ ]:
# YOUR CODE HERE

Let's replace column `Female Population` with the result of difference of `Total Population` and `Male Population` or otherwise.

In [ ]:
# YOUR CODE HERE

In [ ]:
# TEST
checking_population(raw_df) == True

**Can you check more cases for the reasonable of raw data?**

In [ ]:
# YOUR CODE HERE (Optional)

### Save your processed data (0.25 points)

In [ ]:
print(f"Total number of features: {raw_df.shape[1]}")
raw_df.dtypes

In [ ]:
# YOUR CODE HERE
# You can set the saved name in a pattern like, studentID_<your continent>_processed.csv
studentID = 21120001
your_continent = "asia"
save_name = "_".join([str(studentID), str(your_continent)]) + "_processed.csv"
raw_df.to_csv("../data/processed/" + save_name, index=False)

**Congrats, if you complete this notebook, you will get 4.00/10.00 :D**