In [15]:
import numpy as np
import pandas as pd

In [16]:
movie_df=pd.read_csv('../data/movies.csv')
movie_df

,Name,Released year,Genre,Director,Runtime,Score,Status,Language,Budget,Revenue
0,Krampus,2015,"['Horror', 'Comedy', 'Fantasy']",Michael Dougherty,1h 38m,62.0,Released,English,"$15,000,000.00","$61,800,000.00"
1,Killers of the Flower Moon,2023,"['Crime', 'Drama', 'History']",Martin Scorsese,3h 26m,77.0,Released,English,"$200,000,000.00","$155,500,000.00"
2,Trolls Band Together,2023,"['Animation', 'Family', 'Music', 'Fantasy', 'C...",Thomas Dam,1h 32m,72.0,Released,English,"$95,000,000.00","$173,800,000.00"
3,Shockwave: Countdown to Disaster,2017,"['Action', 'Science Fiction', 'Adventure', 'Th...",Nick Lyon,1h 30m,56.0,Released,English,-,-
4,Good Boy,2022,"['Horror', 'Thriller']",Viljar Bøe,1h 16m,68.0,Released,Norwegian,"$8,500.00",-
...,...,...,...,...,...,...,...,...,...,...
4995,Mary Poppins Returns,2018,"['Fantasy', 'Family', 'Comedy']",Rob Marshall,2h 11m,65.0,Released,English,"$130,000,000.00","$348,807,090.00"
4996,The Call of Sex,1977,['Thriller'],Tulio Demicheli,1h 28m,47.0,Released,Spanish; Castilian,-,-
4997,Showgirls,1995,['Drama'],Paul Verhoeven,2h 11m,55.0,Released,English,"$45,000,000.00","$20,350,754.00"
4998,Sister Act,1992,"['Music', 'Comedy']",Emile Ardolino,1h 40m,68.0,Released,English,"$31,000,000.00","$231,605,150.00"
4999,Last Holiday,2006,"['Adventure', 'Comedy', 'Drama']",Wayne Wang,1h 52m,71.0,Released,English,"$45,000,000.00","$38,399,961.00"

In [17]:
n_rows=movie_df.shape[0]
n_cols=movie_df.shape[1]
n_rows, n_cols

(5000, 10)

#TODO: GIVE OBSERVATION ABOUT MEANING OF EACH ROWS, COLUMNS

After finding meaning of each rows, each columns in the data, we check whether data have duplicate rows

In [18]:
duplicated_rows = movie_df[movie_df.duplicated()]
len(duplicated_rows)

1

There is no duplicate row in data. We notice that there are many missing data (NaN) in the CSV file. We need to find how many percentage of missing data there are.

In [19]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           5000 non-null   object
 1   Released year  5000 non-null   int64
 2   Genre          5000 non-null   object
 3   Director       5000 non-null   object
 4   Runtime        5000 non-null   object
 5   Score          5000 non-null   float64
 6   Status         5000 non-null   object
 7   Language       5000 non-null   object
 8   Budget         5000 non-null   object
 9   Revenue        5000 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 390.8+ KB

We can see that missing value is described as '[]'or '-' in data. Now we will caculate missing percent of each column

In [20]:
movie_df.replace(['[]', '-',' -'], np.nan, inplace=True)
missing_values = movie_df.isnull().sum()
# Calculate missing ratio for each column
missing_ratio = (missing_values / len(movie_df)) * 100
missing_ratio

Name              0.00
Released year     0.00
Genre             0.16
Director          0.14
Runtime           0.74
Score             0.00
Status            0.00
Language          0.00
Budget           34.24
Revenue          31.74
dtype: float64

From observing data and the result, we can see that there are no columns have >50% missing values, so we don't need to drop any column

## CATERGORICAL COLUMNS

We can see that `Released year` is a categorical column, so we need to change it to `str` instead of `int64`

In [21]:
movie_df['Released year']=movie_df['Released year'].astype('str')
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           5000 non-null   object
 1   Released year  5000 non-null   object
 2   Genre          4992 non-null   object
 3   Director       4993 non-null   object
 4   Runtime        4963 non-null   object
 5   Score          5000 non-null   float64
 6   Status         5000 non-null   object
 7   Language       5000 non-null   object
 8   Budget         3288 non-null   object
 9   Revenue        3413 non-null   object
dtypes: float64(1), object(9)
memory usage: 390.8+ KB

We need to count how many value are there in `Genre`, `Status`, `Language`

In [22]:
selected_cols_profile={}
movie_df['Genre'] = movie_df['Genre'].str.replace('[', '').str.replace(']', '')
count_genre = movie_df['Genre'].str.split(', ').explode().value_counts().to_dict()
count_status = movie_df['Status'].value_counts().to_dict()
count_language = movie_df['Language'].str.split('; ').explode().value_counts().to_dict()
selected_cols_profile['Genre'] = {"num_diff_vals": len(count_genre), "distribution": count_genre}
selected_cols_profile['Status'] = {"num_diff_vals": len(count_status), "distribution": count_status}
selected_cols_profile['Language'] = {"num_diff_vals": len(count_language), "distribution": count_language}
selected_cols_profile=pd.DataFrame(data=selected_cols_profile,index=["num_diff_vals", "distribution"])
selected_cols_profile

,Genre,Status,Language
num_diff_vals,19,3,40
distribution,"{''Drama'': 1718, ''Action'': 1587, ''Comedy''...","{'Released': 4986, 'Post Production': 10, 'In ...","{'English': 4174, 'Japanese': 280, 'French': 1..."

Value of these columns seem normal

## NUMERIC COLUMNS

In [23]:
def convert_runtime_to_float(runtime):
    try:
        # Split hours and minutes
        hours, minutes = map(int, runtime.replace('h', '').replace('m', '').split())
        return hours + round(minutes / 60,2)
    except:
        return None

# Apply the conversion function to the 'Runtime' column
movie_df['Runtime'] = movie_df['Runtime'].apply(convert_runtime_to_float)
movie_df.rename(columns={'Runtime': 'Runtime (h)'}, inplace=True)

Convert numeric columns `Budget` and `Revenue` from `object` to `float64`

In [24]:
movie_df['Budget'] = movie_df['Budget'].replace('[\$,]', '', regex=True).astype(float)
movie_df['Revenue'] = movie_df['Revenue'].replace('[\$,]', '', regex=True).astype(float)

movie_df.rename(columns={'Budget': 'Budget ($)'}, inplace=True)
movie_df.rename(columns={'Revenue': 'Revenue ($)'}, inplace=True)

In [25]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           5000 non-null   object
 1   Released year  5000 non-null   object
 2   Genre          4992 non-null   object
 3   Director       4993 non-null   object
 4   Runtime (h)    4741 non-null   float64
 5   Score          5000 non-null   float64
 6   Status         5000 non-null   object
 7   Language       5000 non-null   object
 8   Budget ($)     3288 non-null   float64
 9   Revenue ($)    3413 non-null   float64
dtypes: float64(4), object(6)
memory usage: 390.8+ KB

### Caculate quantile of numeric cols

In [26]:
numeric_cols=['Runtime (h)','Score','Budget ($)','Revenue ($)']
numeric_col_profile = movie_df[numeric_cols].describe()[1:]
numeric_col_profile

      Runtime (h)       Score    Budget ($)   Revenue ($)
mean     1.788076   65.803000  4.781636e+07  1.510830e+08
std      0.354096   10.674164  5.370240e+07  2.336803e+08
min      1.020000    0.000000  1.000000e+00  1.000000e+01
25%      1.550000   61.000000  1.098775e+07  1.864457e+07
50%      1.720000   67.000000  3.000000e+07  6.840000e+07
75%      1.970000   72.000000  6.500000e+07  1.816748e+08
max      4.130000  100.000000  4.600000e+08  2.923706e+09

In [27]:
movie_df[movie_df['Budget ($)']==1] ## check thử cho vui

,Name,Released year,Genre,Director,Runtime (h),Score,Status,Language,Budget ($),Revenue ($)
2178,Down,2019,"'Horror', 'Drama', 'Thriller'",Daniel Stamm,1.37,68.0,Released,English,1.0,NaN

SAVE TO NEW CSV FILE NAME `Processed.csv`

In [28]:
movie_df.to_csv('../data/Processed.csv', index = False)